
<div class="background-image-container">

    <div class="about-us-flex-container">

        <h2 id="about-us-title">About Us</h2>

        <div class="who-we-are-div about-us-box">
            <h3 class="box-title">Who we are</h3>

            <p class="box-paragraph">When our founder Popeye Bonzo the third came to Australia, he only had 62 cents, a bachelor's degree in International Relations and a dream. The first two weren't that useful, but he worked tirelessly to bring the third into existence. He worked hard and after years of dedication, Beer Bar and Pizza was born. After our founder's untimely passing, we stand commited to upholding his original dream of mixing pizza and beer for the public to enjoy.</p>
        </div>

        <div class="our-guarantee-div about-us-box">
            <h3 class="box-title">Our no-fuss 100% satisfaction guarantee</h3>

            <p class="box-paragraph">If you aren't 100% satisfied with our tasty pizza and exquisite beer, give us a call and we will give you full refund, no questions asked.</p>
        </div>

        <div class="what-we-stand-for-div about-us-box">
            <h3 class="box-title">What we stand for</h3>

            <p class="box-paragraph">Our mission to provide authentic pizza, coupled with genuine beer for as low a price as possible. We also aim to provide a prompt delivery so that our customers dig in to your excellent pizza in no time.</p>
        </div>

    </div>

</div>



