
<div class="background-image-container">

    <div class="about-us-flex-container">

        <h2 id="about-us-title">About Us</h2>

        <div class="who-we-are-div about-us-box">
            <h3 class="box-title">Who we are</h3>

            <p class="box-paragraph">When our founder Popeye Bonzo the third came to Australia, he only had 62 cents, a bachelor's degree in International Relations and a dream. The first two weren't that useful, but he worked tirelessly to bring the third into existence. He worked hard and after years of dedication, Beer Bar and Pizza was born. After our founder's untimely passing, we are commited to upholding his original dream of mixing pizza and beer for the public to enjoy.</p>
        </div>

        <div class="our-guarantee-div about-us-box">
            <h3 class="box-title">Our No Fuss 100% Satisfaction Guarantee</h3>

            <p class="box-paragraph"></p>
        </div>

        <div class="what-we-stand-for-div about-us-box">
            {{!-- vision + mission + core values --}}
            <h3 class="box-title">What we stand for</h3>

            <p class="box-paragraph">We stand for pizza</p>
        </div>

    </div>

</div>



