<div class="background-image-container">

  <div class="contact-us-flex-container">

    <h2 id="contact-us-title">Contact Us</h2>

    <div class="contact-us-btn-flex-container">
      <button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
      <button type="button" id="feedback" class="btn btn-outline-primary">Leave Feedback</button>
      <button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
      <button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>
    </div>
   
  </div>

</div>

