<div class="background-image-container">

  <div class="about-us-flex-container">

    <h2 id="about-us-title">Contact Us</h2>

    <div class="who-we-are-div about-us-box">

      <h3>Find Your Local Store</h3>
      <h3>Leave A Feed Back</h3>
      <h3>Media Enquiry</h3>
      <h3>Investor Relations</h3>

    </div>


 
    </div>

  </div>

</div>