<div class="background-image-container">

  <div class="feedback-flex-container">

    <h2 id="leave-your-feedback">Leave Your Feedback</h2>

    <div class="contact-us-btn-flex-container">

      <button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
      <button type="button" id="feedback" class="btn btn-outline-primary">Leave Feedback</button>
      <button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
      <button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>

    </div>

    <div class="feedbackform-container">

      <form class="contact-form">
        <h2 id="form-title">Feedback Form</h2>
        <input type="text" id="feedback-name" placeholder="Full Name"></br>
        <input type="email" id="feedback-email" placeholder="Email"></br>
        <input type="text" id="feedback-subject" placeholder="Subject"></br>
        <textarea id="feedback-message" placeholder="message" cols="30" rows="10"></textarea></br>
        <input id="send-message-btn" type="submit" class="submit" value="Send Message">
      </form>

    </div>
    
  </div>

</div>


