<div class="background-image-container">

  <div class="contact-us-flex-container">

    <h2 style="text-align: center;">Find Your Local Store</h2>

    <div class="who-we-are-div about-us-box">

<button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
<button type="button" id="feedback" class="btn btn-outline-primary">Leave A Feed Back</button>
<button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
<button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>
      
        </div>
   
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="suburb">suburb</label>
    <input type="text" class="form-control" id="suburb" placeholder="suburb">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

 
    </div>

  </div>

</div>

