{{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}}

<div class="background-image-container">

    <div class="pick-up-or-delivery">
        <a id="pick-up-block" href="/order">PICK UP</a>

        <a id="delivery-block" href="/order">DELIVERY</a>
    </div>

    <div class="flex-btn-container">
    <a id="contact-us-home-button" href="/contactus">CONTACT US</a>
    </div>

</div>

