<div class="background-image-container">

  <div class="contact-us-flex-container">

    <h2 style="text-align: center;">Investor Relations</h2>

    <div class="who-we-are-div about-us-box">

<button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
<button type="button" id="feedback" class="btn btn-outline-primary">Leave A Feed Back</button>
<button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
<button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>
     

    </div>
    <h4> KEY TAKEAWAYS</h4>
   <ul>
    <li>
      Total Gross Revenue 2021/22:$550,000AUD
      total expenses 2021/22 :$450,000AUD
      Net Profit:$100,000 AUD
    </li>
    <li>
     Share Price: $10.22 AUD 
    </li>
    <li>
      Market capitalization:1M
    </li>
   </ul>


 
    </div>

  </div>

</div>

