<div class="background-image-container">

  <div class="contact-us-flex-container">

    <h2 style="text-align: center;">Investor Relations</h2>

    <div class="who-we-are-div about-us-box">

<button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
<button type="button" id="feedback" class="btn btn-outline-primary">Leave A Feed Back</button>
<button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
<button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>
     

    </div>
    <h4> KEY TAKEAWAYS</h4>
   <ul>
    <li>
      The investor relations (IR) department is a division of a business whose job it is to provide investors with an accurate account of company affairs.
    </li>
    <li>
      IR departments are required to be tightly integrated with a company's accounting department, legal department, and executive management team.
    </li>
    <li>
      IR departments have to be aware of changing regulatory requirements and advise the company on what can and cannot be done from a PR perspective.
    </li>
   </ul>


 
    </div>

  </div>

</div>

