<div class="background-image-container">

  <div class="investor-relations-flex-container">

    <h2 id="investor-relations-title">Investor Relations</h2>

    <div class="contact-us-btn-flex-container">
      <button type="button" id="findstore" class="contact-us-flex-btns" style="margin-left: 3px; margin-right: 3px">Find Your Local Store</button>
      <button type="button" id="feedback" class="contact-us-flex-btns" style="margin-left: 3px; margin-right: 3px">Leave Feedback</button>
      <button type="button" id="media" class="contact-us-flex-btns"style="margin-left: 3px; margin-right: 3px" >Media Enquiry</button>
      <button type="button" id="investor" class="contact-us-flex-btns" style="margin-left: 3px; margin-right: 3px">Investor Relations</button>
    </div>

    <div class="key-takeaways-flex-container">
      <h4 id="investor-relations-key-takeaways">KEY TAKEAWAYS</h4>

      <ul id="key-takeaways-list">
        <li>
          Net Profit 2021: 130,000 AUD
        </li>

        <li>
          Share Price: 0.22 AUD 
        </li>

        <li>
          Market capitalization: 207,000 AUD
        </li>
      </ul>
    </div>

  </div>

</div>


