  <div class="login">
    <p>
       <h1>LOGIN</h1>
       <form action="/login.html">
        <label for="username">USERNAME</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">PASSWORD</label><br>
        <input type="password" id="password" name="password">
        <input type="submit" value="login">
        <button>FORGOT YOUR PASSWORD</button>
      </form>
    </p>
<p>
<h1>NEW USER</h1>
<button>REGISTER NOW </button>

</p>


  </div>
