<div class="background-image-container">

  <div class="login-card">
    <h2 id="login-page-title">LOG IN</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" id="login-email-label">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" id="login-password-label">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group login-btn-flex-container">
        <button id="login-btn" class="btn btn-primary" type="submit">LOG IN</button>
      </div>
    </form>
  </div>

</div>

<script src="./js/login.js"></script>