<div class="background-image-container">

  <div class="contact-us-flex-container">

    <h2 style="text-align: center;">Media Enquiry</h2>

    <div class="who-we-are-div about-us-box">

<button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
<button type="button" id="feedback" class="btn btn-outline-primary">Leave A Feed Back</button>
<button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
<button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>
      
     

    </div>
   <ul>
    <li>
      <a href="www.facebook.com" target="_blank">Facebook</a>
    </li>
    <li>
     <a href="@twitter/beerbarandpizza">Twitter</a>
    </li>
      <li>
     <a href="9999999999">contact us</a>
    </li>
    
   </ul>


 
    </div>

  </div>

</div>

