<div id="menu-header">Pizza menu:
</div>
{{#each pizza as |object|}}
<h1>{{object.pizza_name}}</h1>
<h3>{{object.pizza_description}}</h3>
<p>${{object.price}}</p>
<br>
<img src="https://thumbs.dreamstime.com/z/italian-pizza-white-background-isolated-italian-pizza-white-background-146709376.jpg" alt="pepperoni" width="100" height="100">
<br>
{{/each}}
