
<div class="background-image-container">

  <div class="order-flex-container">
    <h2 class="page-title">Order</h2>
    <button id="guest">Continue as guest</button>
    <button id="login">Login</button>
    <button id="register">Register</button>
  </div>
    
</div>

<script src="./js/order.js"></script>