<div class="background-image-container">

  <div class="register-flex-container">
    <h1 id="create-account-title">Create an account</h1>
  
    <form class="login-card">
      <h2 id="registration-form-heading">Registration Form</h2>
      <input type="email" id="register-email" name="email" placeholder="Email" /><br />
      <input type="text" id="register-name" name="name" placeholder="Name" /><br />
      <input type="text" id="register-address" name="address" placeholder="Address" /><br
      />
      <input
        type="tel"
        id="register-mobile"
        name="mobile"
        placeholder="Mobile number"
      /><br />
      <input
        type="password"
        id="register-password"
        name="password"
        placeholder="Password"
        pattern=".{8,}"
        title="password must be at least 8 or more characters"
      /><br />
      <input
        type="password"
        id="repeatPassword"
        name="repeatpassword"
        placeholder="Repeat password"
        pattern=".{8,}"
        title="password must be at least 8 or more characters"
      /><br />
      <label id="terms-and-conditions-message">By creating an account I agree to the terms and conditions and
        privacy policy</label>
      <input type="submit" value="SIGN UP" id="register-sign-up-btn"/>
    </form>

  </div>

</div>
<script src="./js/register.js"> </script>