<h1>Create an account</h1>

<form action="/createaccount.html">
  <input type="Email address" id="email" name="email" value="John"><br>
  <input type="text" id="name" name="name" value="Name"><br>
  <input type="text" id="address" name="address" value="Address"><br>
  <input type="text" id="mobile" name="mobile" value="Mobile number"><br>
  <input type="password" id="password" name="password" value="Password"><br>
  <input type="password" id="password" name="repeatpassword" value="Repeat assword"><br>
  <label>By creating an account I agree to the terms and conditions and privacy policy</label>
  <input type="submit" value="Sign Up">
</form> 