<div class="background-image-container">

  <div class="contact-us-flex-container">

    <h2 style="text-align: center;">Leave A Feed Back</h2>

    <div class="who-we-are-div about-us-box">

<button type="button" id="findstore" class="btn btn-outline-primary">Find Your Local Store</button>
<button type="button" id="feedback" class="btn btn-outline-primary">Leave A Feed Back</button>
<button type="button" id="media" class="btn btn-outline-primary">Media Enquiry</button>
<button type="button" id="investor" class="btn btn-outline-primary">Investor Relations</button>
      
     

    </div>
   <!--
<form>
  <div class="form-container">
    <label for="inputname">Enter name</label>
    <input type="email" class="form-control" id="inputname" aria-describedby="inputname" placeholder="Enter name">
    
  </div>
  <div class="form-group">
    <label for="feedbackarea">Feedback</label>
    <textarea class="form-control" id="feedbackarea" placeholder="Please Leave your Feedback">
    </textarea> 
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->

<div class="feedbackform-container">
  <form class="contact-form">
    <h2>Feedback</h2>
    <input type="text" id="name" placeholder="Full Name"></br>
    <input type="email" id="email" placeholder="Email"></br>
    <input type="text" id="subject" placeholder="Subject"></br>
    <textarea id="message" placeholder="message" cols="30" rows="10"></textarea></br>
    <input type="submit" class="submit" value="Send Message">

  </form>
</div>
 
    </div>

  </div>

</div>

