
<div class="background-image-container">
    <h2 class="page-title">Order</h2>
<div>
<h1>Would you like to </h1>
<h2><button id="guest"> Continue as guest</button></h2>
<h2><button id="login"> Login</button></h2>
<h2><button id="register"> Register</button></h2>
</div>
    
  </div>
<script src="./js/order.js">  </script>