<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Bar and Pizza</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <nav class="navbar">
      <h2 class="nav-left-side">Beer Bar and Pizza</h2>

      <div class="nav-right-side">
        <img id="fav-star" src="images/favourites-star-nav.png" alt="favourites-star-navbar">

        <a id="cart-icon" href="/favourites">CART</a>

        <div class="hamburger-icon">
          <span class="hamburger-span"></span>
          <span class="hamburger-span"></span>
          <span class="hamburger-span"></span>
        </div>
      </div>
    </nav>



    {{{ body }}}





  </body>

</html>



